@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
    --primary-dark: #333;
    --primary-light: #ededed;
    --secondary-light: #fefefe;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    transition: scale 100ms;
    box-sizing: border-box;
}

body {
    color: var(--primary-dark);
    background-color: var(--primary-light);
    font-family: 'Roboto', sans-serif;
    font-size: x-large;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin-top: 30px;
}

main {
    min-height: 80%;
    min-width: 80%;
    display: flex;
    justify-content: center;
    gap: 70px;
}

.color-options,
.grid-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

input[type=color] {
    max-width: 0;
    max-height: 0;
    margin-top: -35px;
    margin-bottom: 35px;
    margin-left: 125px;
    z-index: -1;
}

.color-picker {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    background-color: var(--primary-dark);
    margin: 0 auto;
    box-shadow: 2px 2px 5px var(--primary-dark);
    cursor: pointer;
}

#color-btn {
    margin-top: -35px;
}

button {
    color: var(--primary-dark);
    font-family: 'Roboto', sans-serif;
    font-size: x-large;
    height: 50px;
    width: 250px;
    border: 1px var(--primary-dark) solid;
    border-radius: 5px;
    background-color: var(--primary-light);
    cursor: pointer;
}

.grid {
    background-color: white;
    box-shadow: 2px 2px 8px gray; 
    display: flex;
    flex-direction: column;
    /* Prevent the grid from being draggable */
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.row {
    display: flex;
    flex: 1;
}

.cell {
    flex: 1;
}

.grid:hover {
    cursor: url('resources/paint-brush.png') 0 32, pointer;
}

.grid-visible {
    border: 1px var(--primary-light) solid;
}

label {
    margin: 0 auto -15px;
}

#gridSizeSlider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 8px;
    border: 1px var(--primary-dark) solid;
    border-radius: 5px;
    background: var(--secondary-light);
}

#gridSizeSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--primary-dark);
    cursor: pointer;
}

#gridSizeSlider::-moz-range-thumb {
    -moz-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 50%;
    background: var(--primary-dark);
    cursor: pointer;
}

.selected {
    color: var(--secondary-light);
    background-color: var(--primary-dark);
}

#clear-btn {
    transition: color 70ms ease;
    transition: background-color 70ms ease;
}
.clear {
    color: var(--secondary-light);
    background-color: var(--primary-dark);
}

button:hover,
.color-picker:hover {
    scale: 1.04;
}
#slider::-webkit-slider-thumb:hover {
    scale: 1.04;
}
#slider::-moz-range-thumb:hover {
    scale: 1.04;
}
#github {
    transition: rotate 300ms;
}
#github:hover {
    scale: 1.1;
    rotate: 360deg;
    transition: rotate 300ms;
}

footer {
    margin-bottom: 10px;
}